<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script>
        function fetchRandomNumber() {
            fetch('/random')
                .then(response => response.json())
                .then(data => {
                    const randomNumberElement = document.getElementById('randomNumber');
                    randomNumberElement.innerText = data.randomNumber;
                    if (data.randomNumber === 28) {
                        alert('Congratulations! You got 28!');
                    }
                });
        }
    </script>
</head>
<body>
    <div class="App">
        <header class="App-header">
            <img src="{{ url_for('static', filename='Octocat.png') }}" class="App-logo" alt="logo" />
            <p class="heart-text">
                GitHub Codespaces <span class="heart">♥️</span> Flask
            </p>
            <p class="big-text">
                Hello. I am Enoch CHIU
            </p>
            <p class="small-text">
                Edit <code>templates/index.html</code> and refresh to see your changes!
            </p>
            <button onclick="fetchRandomNumber()">Get Random Number</button>
            <p class="big-text" id="randomNumber"></p>
        </header>
    </div>
</body>
</html>
